* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
  background-color: rgb(45, 49, 62);
}

a {
  color: #4CC9FA;
  font-family: 'Fira Code';
  font-weight: 500;
}

strong {
  font-weight: 700;
}
